@import url(../../../stylesheets/application.css);

/* Reset */
html, body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, cite, code, del, dfn, em, img, q, s, 
samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, 
fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	font-size: 100%;
	font-family: inherit;
}
fieldset legend {
	padding-top: 15px;
}
fieldset.box legend {
	padding-top: 0px;
}

fieldset.collapsible {
	padding: 0px 5px;
}

fieldset.collapsible table {
	margin: 0px 15px;
}
fieldset.collapsible table.query-columns {
	margin: 0 0 0 5px;
}
fieldset.collapsible > legend {
	background-position: 0px 15px;
}

fieldset#filters td.field {
	min-width: 110px;
	padding-top: 5px;
	padding-bottom: 5px;
}

fieldset.collapsible table select[multiple="multiple"] {
	height: 125px;
	margin-left: 0px;
}

fieldset#filters table {
	margin: 0px 8px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

table.attributes {
	padding-top: 10px;
	font-size: 12px;
}

table.attributes td,
table.attributes th {	
	padding: 5px 5px 5px 0;
}


ol, ul {
	list-style: none;
}

q:before, 
q:after, 
blockquote:before, 
blockquote:after {
	content: "";
}

html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

button, input, 
select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input {
	line-height: normal;
	*overflow: visible;
}

button::-moz-focus-inner, 
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

ol, ul {
	list-style: none;
}

q:before, q:after, blockquote:before, blockquote:after {
	content: "";
}

html {
	overflow-y: scroll;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section {
	display: block;
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

audio:not([controls]) {
	display: none;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

button, input, select, textarea {
	font-size: 100%;
	margin: 5px;
	vertical-align: baseline;
	*vertical-align: middle;
}

button, input {
	line-height: normal;
	*overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

body, #wrapper {
	background-color: #FFFFFF;
	font-size: 14px;
}

#top-menu {
	margin: 0px;
	padding: 10px 0px 5px 5px;
	background: #fffffff;
	background: -moz-linear-gradient(top, #08C 0%, #115679  100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#115679 ));
	background: -webkit-linear-gradient(top, #08C 0%,#115679  100%);
	background: -o-linear-gradient(top, #08C 0%,#115679  100%);
	background: -ms-linear-gradient(top, #08C 0%,#115679  100%);
	background: linear-gradient(to bottom, #08C 0%,#115679  100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

#top-menu a {
	font-weight: normal;
	display: inline;
}

#top-menu ul li {
	margin: 0 10px;
}

#header {
	margin: 0px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #CCC;
	box-shadow: 0px 2px 2px #EEE;
}

#header h1 {
	color: #504f4f;
	text-shadow: 0px 2px 1px #FFF;
	margin-top: 10px;
	padding-left: 10px;
}

#header a {
	color: #504f4f;
}

#main {
	background: #ffffff;
	margin: 8px 10px 0px 10px;
}

#content, #main.nosidebar #content {
	background: #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-left: 1px solid #d7d7d7;
	border-top: 1px solid #d7d7d7;
}

#footer {
	background-color: #EEEEEE;
	border: 0px;
}

/* Headers */
h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 {
	border-bottom: 0px;
}

/* Menu */

#main-menu li a {
	background-color: #08C;
	*background-color: #ffffff;
	background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
	font-weight: bold;
	margin-bottom: 10px;
	border-radius: 3px;
	padding: 10px 10px;
	font-weight: normal;
}

#main-menu li a:hover {

}

#main-menu li a.selected, #main-menu li a.selected:hover {

	background-color: black;
	*background-color: black;
	color: #FFF;
	font-weight: bold;
	color: #333;
	/*background: #EEE;*/
	font-weight: bold;
	background: #ffffff;
	background: -moz-linear-gradient(top, #c0c0c0 0%, #d9d9d9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0c0c0), color-stop(100%,#d9d9d9));
	background: -webkit-linear-gradient(top, #c0c0c0 0%,#d9d9d9 100%);
	background: -o-linear-gradient(top, #c0c0c0 0%,#d9d9d9 100%);
	background: -ms-linear-gradient(top, #c0c0c0 0%,#d9d9d9 100%);
	background: linear-gradient(to bottom, #c0c0c0 0%,#d9d9d9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#d9d9d9',GradientType=0 );
}

/* Tables */
table.list tbody td, table.list tbody tr:hover td {
	border: solid 1px #ffffff;
	font-size: 13px;
	padding: 5px;
}

table.list thead th {
	border-width: 1px;
	border-style: solid;
	border-top-color: #d7d7d7;
	border-right-color: #d7d7d7;
	border-left-color: #d7d7d7;
	border-bottom-color: #333;
	background: #e7e7e7;
}

/* Issues grid styles by priorities (provided by Wynn Netherland) */
table.list tr.issue a {
	/*	color: #0000FF; */
}

table.list tr.issue td.checkbox {
	padding: 7px 0 0 0;
}
/* Table style */

/* Buttons */
input[type="button"], input[type="submit"], input[type="reset"] {

	display: inline-block;
	*display: inline;
	padding: 8px 13px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 13px;
	line-height: 18px;
	*line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	*background-color: #e6e6e6;
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	*border: 0;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	*zoom: 1;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	/* background-color: #ccccbb; */
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	*background-color: #d9d9d9;
	/* Buttons in IE7 don't get borders, so darken on hover */

	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

/* Fields */
input[type="text"], input[type="password"], textarea, select {
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	padding: 8px 5px;
	color: #333;
	/* max-width: 100%; */
	line-height: normal;
	margin: 0px 5px;
}

select {
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	padding: 8px 5px;
	color: #333;
	height: 30px;
	line-height: normal;
	margin: 0px 5px;
}

.tabular label {
	margin-top: 5px;
}
.tabular input[type="checkbox"] {
	margin-top: 6px;
	height: 20px;
} 

.hasDatepicker {
	min-width: 97px;
}
/*
 input[type="text"], input[type="password"] {
 padding: 5px;
 }
 */

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
	border: 1px solid #888866;
}

option {
	border-bottom: 1px dotted #d7d7d7;
}

/* Misc */
.box {
	background-color: #fcfcfc;
}

/* Add */

#content {
	/*
	 width: 75%;
	 background-color: #fff;
	 margin: 0px;
	 border-right: 1px solid #ddd;
	 padding: 6px 10px 10px 10px;
	 z-index: 10;
	 */
	border-radius: 5px;
	margin-top: 15px;
	box-shadow: 0px 0px 2px 2px #F0F0F0;
	margin-bottom: 10px;
}

#footer {
	background: #FFF;
	font-size: 12px;
}

h2 {
	/* border-bottom: 1px solid #DDD; */
	border: 1px solid #DDD;
	border-radius: 3px;
	margin-top: 5px;
	padding: 11px 10px;
	color: #504f4f;
	text-shadow: 0px 2px 1px #FFF;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

.box {
	border-radius: 3px;
}

h3 {
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 5px;
	margin-top: 10px;
}

.box h3{
	margin-top: 5px;
}


h3.version {
	background: url(/images/package.png) no-repeat 0% 85%;
	padding-top: 30px;
	margin-bottom: 10px;
}

p.pourcent {
	padding-top: 5px;
}

#roadmap p {
	padding-bottom: 5px;
}


p.subtitle {
	padding-top: 10px;
}

.contextual {
	margin: 10px 10px 0 0;
	padding-top: 8px;
}

.issue .contextual {
	padding-top: 0px;
}

#watchers .contextual {
	padding-top: 0px;
	margin-top: 0px;
}

#content div.contextual a {
	margin: 0px 5px 0px 0px;
}

#content div.contextual #repository_navigation {
	margin-top: -8px;
}

#relations .contextual,
#issue_tree .contextual {
	margin-top: 0px;
}


#main {
	background: #F6F6F6;
	border-radius: 5px;
}

div.issue .next-prev-links {
	margin-top: 0px;
}

.issue .author {
	font-size: 12px;
	font-style: italic;
	padding-left: 0px;
	padding-bottom: 10px;
}

input#time_entry_comments,
textarea.wiki-edit,
input#issue_subject {
	width: 96%;
}

textarea.wiki-edit,
textarea#issue_notes,
textarea#issue_description {
	min-height: 100px;
}

#wiki_form textarea.wiki-edit {
	min-height: 400px;
	margin-bottom: 20px
}

.jstEditor,
.jstElements {
	margin-left: 5px;
}


#history .has-details{
	font-size: 10px;
	font-style: normal;
	padding: 2px;
}

#history .has-notes {
	margin-top: 20px;
	margin-bottom: 25px;
	background: #ffffdd;
	padding: 10px;
}

#history .has-notes h4 {
	font-size: 12px;
	font-style: italic;
	border-bottom-color: black;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}

.wiki {
	font-size: 13px;
	padding: 10px 10px 20px 10px;
}

#history .has-notes textarea {
	min-height: 100px;
}

p.other-formats {
	padding-top: 20px;
}

#content .splitcontentleft,
#content .splitcontentright {
  padding-top: 10px;  
  margin-top: 10px;
}

#content .splitcontentleft .box ul li,
#content .splitcontentright .box p{
  padding-top: 5px;
  padding-bottom: 0px;
}

#content .splitcontentright .box,
#content .splitcontentleft .box {
  margin-top: 15px;
}
#content .splitcontentright .projects.box ul li {
  padding-top: 15px;
  padding-bottom: 10px;
}

#content .splitcontentright .projects.box ul li a {
  font-weight: bold;
}

#sidebar ul li {
	margin: 3px 2px 5px 0px;
}

#projects-index {
	padding-top: 20px;
}
#projects-index ul.projects ul.projects {
	padding-left: 0.5em;
	margin-left: 6px;
}

#activity h3 {
	margin-bottom: 10px;
	padding-top: 10px;
}

#watchers_inputs {
	margin-top: -5px;
}
